@keyframes morph {
    0%{ border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;}
    50%{border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;}
    100%{ border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;}
}
$blackColor : #161616;
$lightGray : rgb(228, 227, 227);
$blueSky : rgb(79, 120, 223);
//break points
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;
$extra-large-screen: 1200px;

//use the mexin
@mixin responsiveMixin($device-width){
    @media screen and (max-width :$device-width){
        @content
    }
}


*{
    
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    .App{
       width: 100%;
        header {
            
            margin-top: 15px;
            margin-bottom: 150px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 3%;
            padding-right: 3%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                font-weight: 800;
                @media screen and (max-width :$medium-screen) {
                    font-weight: 700;
                    color: $blueSky;
                }
            }
            #drawer{
                display: none;
                @media screen and (max-width : $small-screen) {
                
                    display: block;
                    cursor: pointer;
                    &:hover{
                        color : $blueSky,
                    }
                    
                }

            }
            .drawerContent{z-index: 2;
                width : 50%;
                background-color :#eee;
                opacity : 80%;
                height :100%;
                display :flex;
                
                position : fixed;
                top : 0px;
                right:-100%;
                
                padding-left : 10px;
                .drawerLinks{
                    display: flex;
                    flex-direction: column;
                    height: 40%;
                    justify-content: space-around;
                    // background: red;
                    width: 100%;
                    #drawerXIcon{
                        border-color: red;
                        width: fit-content;
                        cursor: pointer;
                    }
                    .navigation{
                        
                        text-decoration: none;
                        color: $blackColor;
                        font-weight: bold;
                        color : $blueSky;
                        opacity: 9100%;
                        
                    }
                }
            }
            .drawerVisible{
                right: 0%;
                transition: right .7s ease-out;
            }
            .drawerInvisible{
                right: -50%;
                transition: right .7s ease-out;
            }


            .navList{
                
                @media screen and (max-width :$medium-screen) {
                    width: 60%;
                }
                @media screen and (max-width :$large-screen) {
                    width: 50%;
                }
                @media screen and (max-width :$small-screen) {
                    width: 50%;
                    display: none;
                }
                width: 25%;
                display: flex;
                justify-content: space-between;
                .navigation{
                    @media screen and (max-width :$small-screen) {
                        font-size: 13px;
                    }
                    position: relative;
                    font-size: 17px;
                    text-decoration: none;
                    font-weight: bold;
                    color: black;
                    &::after{
                        position: absolute;
                        content: '';
                        height: 3px;
                        border-radius: 20%;
                        width:0%;
                        background-color: black;
                        bottom: -3px;
                        left: 0px;
                        transition: width .5s ease-out;
                        
                    }
                    &:hover::after{
                        width: 100%;
                    }
                }
            }
            
        
        }
        main{
            #scrollTop{
                display: none;
                @media screen and (max-width : $small-screen) {
                    display: block;
                    position: fixed;
                    float: left;
                    bottom: 25%;
                    right: 5%;
                    width: fit-content;
                    border: 1px solid #eee;
                    border-radius: 50%;
                    background: #eee;
                    opacity: 50%;
                #icon{
                    color: $blueSky;

                }
                }
                

            }
            width: 60%;
            @media screen and (max-width: $large-screen) {
                width: 80%;
            }
          

            margin: auto;
            .aboutMe{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                
                margin: auto;
                
                height: 500px;
                .presentationWithImage{
                    display: flex;
                    justify-content: space-between;
                    @include responsiveMixin($medium-screen){
                        padding: 10px;
                        
                        flex-direction: column-reverse;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .textPresentation{
                        @include responsiveMixin($medium-screen){
                            
                            width: 80%;
                            margin-top: 15px;
                            
                        }
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        
                        h1{
                       
                            
                            @media screen and (max-width :$medium-screen) {
                                font-weight: 600;
                                font-size: 17px;
                                margin-bottom: 10px;
                        
                            }
                            
                            font-weight: 1000;
                            // word-break: break-all;
                            // text-align: center;
                            
                        }
                        p{
                            @media screen and (max-width :$medium-screen) {
                                font-weight:400;
                                font-size: 13px;
                                margin-bottom: 10px;
                        
                            }
                            font-weight: 400;
                            color: gray;
                        }

                    }
                    img{
                        @include responsiveMixin($medium-screen){
                            height: 200px;
                        }
                        
                        height:350px;
                        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                        border: 5px solid black;
                        animation:  morph 6s ease-in-out infinite;

                        
                    }
                }

                .stackAndTechnos{
                    margin-top :100px; 
                    margin-bottom :200px; 
                    display: flex;
                    align-items: center;
                    @media screen and (max-width :$medium-screen) {
                        flex-direction: column;
                        margin-top :50px;  
                        
                    }
                    .stack{
                        border-right: 2px solid rgb(79, 120, 223);
                        padding-right: 5px;
                        color: rgb(79, 120, 223);
                        font-weight: bold;
                        @media screen and (max-width :$medium-screen) {
                            margin-bottom: 10px;
                            
                        }
                        
                    }
                    .images{
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: nowrap;
                        width: 80%;
                       img{
                        height:40px;
                        @media screen and (min-width : 100px) {
                            height: 30px;
                            
                        }
                        @media screen and (min-width : $small-screen) {
                            height: 50px;
                        }
                        @media screen and (min-width : $large-screen) {
                            height: 60px;
                            
                        }
                       
                        

                       }
                        
                    }
                }
            }
            .myInfos{
                @media screen and (max-width : $medium-screen) {
                    padding-top: 50px;
                }
                padding-top: 200px;
                display: flex;
                justify-content: space-between;
                @media screen and (max-width :$medium-screen) {
                    flex-direction: column;
                    max-height:none ;
                    align-items: center;
                }
                max-height: 500px;
                margin: auto;
                .images{
                    position: relative;
                    width: fit-content;
                    @media screen and (max-width :$medium-screen) {
                        display: flex;
                        justify-content: center;
                    }
                    #img1{
                        
                        @media screen and (max-width: $medium-screen) {
                            z-index: 1;
                            width: 70%;
                        }
                        @media screen and (min-width: $medium-screen) {
                            width: 85%;
                        }
                        border-radius: 10%;
                       
                    }
                    #img2{
                        background-color: #fff;
                        padding: 10px;
                        position: absolute;
                        bottom: 0%;
                        right: 10%;
                        height: 70px;
                        border: 1px solid $blueSky;
                        border-radius: 50%;
                        @media screen and (max-width :$medium-screen) {
                            display: none;
                        }
                    }
                }
                .textAbout{
                    @media screen and (max-width :$medium-screen) {
                        width: 70%;
                    }
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p{
                        overflow: hidden;
                        color:rgb(154, 151, 151); 
                            font-size: 13px;
                            @media screen and (min-width : $medium-screen) {
                                font-size: 17px;
                               
                            }
                    }
                    h4{
                        margin-top: 15px;
                        margin-bottom: 10px;
                        color: rgb(79, 120, 223);
                    }
                    h2{
                        margin: 0;
                        font-weight: 900;
                            font-size: 17px;
                    }
                }
            }
            #portfolio{
                width: 80%;
                margin: auto;
                @media screen and (max-width : $medium-screen) {
                    margin-top: 50px;
                   
                }
                margin-top: 150px;
                color: rgb(79,120,223);
            }
            #afterPortfolio{
                width: 80%;
                margin: auto;
                font-weight: 900;
                margin-bottom: 50px;
                
            }
            #projectsList{
                
                .project{
                    text-decoration: none;
                    display: block;
                    cursor: pointer;
                    display: flex;
                    @media screen and (max-width : $medium-screen) {
                        flex-direction: column;
                        align-items: center;
                        width: 80%;
                    }
                    // border-right: 1px solid rgb(228, 227, 227);
                    // border-bottom: 1px solid rgb(228, 227, 227);
                    border-radius: 40px;
                    padding: 15px;
                    margin: auto;
                    justify-content: space-between;
                    box-shadow: 1px 1px rgb(221, 220, 220);
                    img{
                        @media screen and (max-width : $medium-screen) {
                            width: 100%;
                        }
                        width: 50%;
                        transition: border-radius 1s;
                        &:hover{
                            border-bottom-left-radius: 10%;
                            border-top-right-radius: 10%;
                        }
                    }
                    .aboutProject{
                        margin-top: 10px;
                        width: 40%;
                        @media screen and (max-width : $medium-screen) {
                            width: 90%;
                        }
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        h3{
                            
                            font-weight: 900;
                            font-size: 17px;
                            
                                color: black;
                            
                        }
                        .description{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            color:rgb(154, 151, 151); 
                            font-size: 13px;
                            @media screen and (min-width : $medium-screen) {
                                font-size: 17px;
                               
                            }
                            
                        }
                            .techs{
                                color: $blackColor;
                                display: flex;
                                justify-content: space-evenly;
                                .aTech  {
                                    
                                    &:hover{
                                        color: $blueSky;
                                    transition: color .3s ease;
                                }}
                            }
                            .consult{
                                color: $blackColor;
                                display: flex;
                                justify-content: space-evenly;
                                .toConsult{
                                    &:hover{
                                        color :$blueSky;
                                        transition: color .3s ease;
                                        
                                    }
                                }
                            }
    
                        
                    }
                }
            }
            #contact{
                margin: auto;
                
                margin-top: 150px;
                width: 100%;
                @include responsiveMixin($medium-screen){
                            
                    width: 100%;
                    
                }
              
                display: flex;
                
                flex-direction: column;
                align-items: center;
                h1{
                    font-weight: 900;
                }
                form{
                    height: 600px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    #FullNameContainer{
                        width: 90%;
                        background-color: rgb(247, 247, 247);
                        margin: auto;
                        padding: 10px;
                        border-radius: 15px;
                        border: 1px solid rgb(228, 227, 227);
                        label{
                            font-size: small;
                            text-transform: uppercase;
                            
                        }
                        input{
                            width: 100%;
                            height: 40px;
                            background-color: transparent;
                            border: none;
                            &:focus-visible{
                                outline: 0px;
                            }
                            &::placeholder{
                                opacity: .5;
                            }
                        }
                    }
                    .emailConatainer{
                        @media screen and (min-width:$medium-screen) {
                            display: none;
                           }
                        
                        width: 90%;
                        background-color: rgb(247, 247, 247);
                        margin: auto;
                        padding: 10px;
                        border-radius: 15px;
                        border: 1px solid rgb(228, 227, 227);
                        label{
                            font-size: small;
                            text-transform: uppercase;
                            
                        }
                        input{
                            width: 100%;
                            height: 40px;
                            background-color: transparent;
                            border: none;
                            &:focus-visible{
                                outline: 0px;
                            }
                            &::placeholder{
                                opacity: .5;
                            }
                        }
                    }
                    
                    .phoneContainer{
                        @media screen and (min-width:$medium-screen) {
                            display: none;
                           }
                        
                        width: 90%;
                        background-color: rgb(247, 247, 247);
                        margin: auto;
                        padding: 10px;
                        border-radius: 15px;
                        border: 1px solid rgb(228, 227, 227);
                        label{
                            font-size: small;
                            text-transform: uppercase;
                            
                        }
                        input{
                            width: 100%;
                            height: 40px;
                            background-color: transparent;
                            border: none;
                            &:focus-visible{
                                outline: 0px;
                            }
                            &::placeholder{
                                opacity: .5;
                            }
                        }
                    }



                    #selecionContainer{
                        width: 90%;
                        background-color: rgb(247, 247, 247);
                        margin: auto;
                        padding: 10px;
                        border-radius: 15px;
                        border: 1px solid rgb(228, 227, 227);
                        label{
                            font-size: small;
                            text-transform: uppercase;
                            
                        }
                        select{
                            width: 100%;
                            height: 40px;
                            background-color: transparent;
                            border: none;
                            font-size: 17px;
                            font-weight: bold;
                            // appearance: none;
                            &:focus-visible{
                                outline: 0px;
                            }
                            &::placeholder{
                                opacity: .5;
                            }
                            #remove{
                                display: none;
                            }
                            
                          
                           
                            

                            
                            
                        }
                        option{
                            background-color: rgb(247, 247, 247);
                            
                           
                            
                        }
                        option[selected]{
                            color: red;
                        }
                    }



                    #emailAndPhoneContainer{
                        @media screen and (max-width:$medium-screen) {
                            display: none;
                        }
                        width: 90%;
                        margin: auto;
                        display: flex;
                        justify-content: space-between;
                     
                        .emailConatainer1{
                            
                            @include responsiveMixin($medium-screen){
                                width: 100%;
                            }
                            border: 1px solid rgb(228, 227, 227);
                            width: 47%;
                            background-color: rgb(247, 247, 247);
                            padding: 10px;
                            border-radius: 15px;
                            label{
                                font-size: small;
                                text-transform: uppercase;
                            }
                            input{
                                width: 100%;
                                height: 40px;
                                background-color: transparent;
                                border: none;
                                &:focus-visible{
                                    outline: 0px;
                                }
                                &::placeholder{
                                    opacity: .5;
                                }
                            }
                            
                        }
                        .phoneContainer2{
                            
                            @include responsiveMixin($medium-screen){
                                width: 100%;
                            }
                            border: 1px solid rgb(228, 227, 227);
                            width: 47%;
                            background-color: rgb(247, 247, 247);
                            padding: 10px;
                            border-radius: 15px;
                            label{
                                font-size: small;
                                text-transform: uppercase;
                            }
                            input{
                                width: 100%;
                                height: 40px;
                                background-color: transparent;
                                border: none;
                                &:focus-visible{
                                    outline: 0px;
                                }
                                &::placeholder{
                                    opacity: .5;
                                }
                            }
                        }
                    }
                    #textAreaContainer{
                        border: 1px solid rgb(228, 227, 227);
                        width: 90%;
                        
                        padding: auto;
                        margin: auto;
                        border-radius: 15px;
                       div{
                        padding: 10px;
                        label{
                            font-size: small;
                            text-transform: uppercase;
                            
                        }
                        textarea{
                            width: 100%;
                            height :120px;
                            border: none;
                            &::placeholder{
                                opacity: .5;
                            }
                            
                        }
                        textarea:focus{
                            outline: none;
                        }
                       }
                    }
                    #btnContainer{
                        margin: auto;
                        width: 90%;
                        background-color: transparent;
                        #btn{
                            width: 100%;
                            background-color: $blackColor;
                            color: #fff;
                            border-radius: 15px;
                            height: 40px;
                            font-size:medium;
                            cursor: pointer;
                        }
                    }
                    
                }

            }
        }
        // Footer.scss

.footer {
    @media screen and (max-width : $medium-screen) {
        margin-top: 50px;
    }

    margin-top: 150px;
  background-color: #333;
  color: #fff;
  padding: 10px 5px;

  .footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;

    .footer-left, .footer-right {
      flex: 1;

      h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }

    .footer-right {
      p {
        margin: 5px 0;
      }
    }
  }

  .footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
  }
}

    .hideModal{
        display: none;
    }
    
    #messageDialog1{
        position: fixed;
        text-align: center;
        padding: 10px;
        top : 5%;
        left : calc((100% - 350px)/ 2);
        background-color:rgba(5, 153, 40, 0.8);
        width : 350px;
        color :white;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        transition: width 5s ease;
        
        .icon{
           font-size: 1.5em;
           cursor: pointer;
           }}
           #messageDialog2{
            position: fixed;
            text-align: center;
            padding: 10px;
            top : 5%;
            left : calc((100% - 350px)/ 2);
            background-color:rgba(111, 21, 5, 0.8);
            width : 350px;
            color :white;
            display: flex;
            justify-content: space-between;
            border-radius: 5px;
            transition: width 5s ease;
            
            .icon{
               font-size: 1.5em;
               cursor: pointer;
               }}
    }
    
}